body {
    /*padding-top: 40px;*/
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

section
{
    background-color: white;
    border: solid 1px white;
    border-radius: 20px;
    padding: 1em;
}

footer {
    text-align: center;
}

table {
    font-size: 12px;
}
table td {
    word-wrap: break-word;
}

#passwordResetRequest, #resetPassword {
    margin: 0 auto;
    max-width: 300px;
}
#passwordResetRequest input[type="email"], #resetPassword input {
    margin-bottom: 10px;
}